<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Standard_Gradle:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Standard_Gradle_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_Standard_Gradle/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Standard_Gradle" />
        </element>
      </element>
    </root>
  </artifact>
</component>